<section data-ng-controller="AgendaItemsCtrl" ng-init="find()">
    <div class="page-header">
        <h1>New Agenda Item</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="createAgendaItem()" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error': agendaForm.name.$dirty && agendaForm.name.$invalid }">
                    <div>
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="agendaItem.name" data-ng-init="agendaItem.name=''" id="name" class="form-control" placeholder="Name">
                        <div>
                    </div>
                    <div>
                        <label class="control-label" for="committee">Committee to Direct Towards</label>
                        <select data-ng-model="agendaItem.committee" id="committee" class="form-control" ng-options="committee._id as committee.name for committee in committees"></select><br>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-blue">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>