<section data-ng-controller="AgendaItemsCtrl" data-ng-init="find()">
    <div>
        <div class="page-header">
            <h1>Agenda Items</h1>
            <div>
            <a ui-sref="createAgendaItem()">Create Agenda Item</a>
            </div>
        </div>
        <div class="list-group">
            <a data-ng-repeat="item in agendaitems" data-ng-href="#!/agendaitems/{{item._id}}/agendaItems/{{item._id}}" class="list-group-item">
                <h3 class="list-group-item-heading" data-ng-bind="item.name"></h3>
            </a>
        </div>
    </div>
</section>