<section data-ng-controller="HomeController">
	
	<div class ="sidebar">
		<ul class="nav nav-pills nav-stacked" data-ng-show="authentication.user">
	  	<li class="active"><a href="#">Home</a></li>
	  	<li><a href="/#!/committee/edit">Edit Committee</a></li>
	  	<li><a href="/#!/committee/attendance">Attendance</a></li>
	  	<li><a href="/#!/committee/schedule">Schedule</a></li>
	  	<li><a href="/#!/committee/resources">Resources</a></li>
	  	</ul>
  	</div>

  	<div class = "workspace" ng-view>
  		<h1>Test</h1>
  	</div>
</section>
