.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

/*Start of added code */
.navbar-inverse{
	background-image: linear-gradient(to bottom, #0021A5 0%, #150E4D 100%);
}
.navbar-inverse .navbar-brand {
color: #CCC;
}
.navbar-inverse .navbar-nav > li > a {
color: #CCC;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
color: #fff;
background-color: #15197E;
}
.navbar-inverse .navbar-nav > .active > a{
background-image: linear-gradient(to bottom, #ff4a00 0%, #FF4A00 100%);
}

/*.sidebar{
	position: fixed;
	max-width: 200px;
	padding:10px;
}

.workspace{
	position: relative;
	padding-left: 300px;
}*/

.app-content {
	margin-top: 50px;
}

.app-content .app-sidebar {
	min-width: 170px;
	max-width: 200px;
	padding: 10px;
	width: 20%;
	float: left;
	display: inline;
}

.app-content .app-workspace {
	min-width: 700px;
	width: 80%;
	float: right;
	display: inline;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
color: #fff;
background-color: #0021A5;
}

a:hover, a:focus {
color: #0021A5;
text-decoration: underline;
}
a {
color: #0021A5;
text-decoration: none;
}