
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

/*Start of added code */

h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans';
}

p,div{
	font-family: 'Open Sans';
	font-size:16px;
}

.navbar-inverse{
	background-image:none;
	background-color:#0021A5 ;
	color:#fffff;
}

#name{
	width: 50%;
}

#chair,#users,#start{
	width: 25%;
}

body{
	background-color:#f7f7f7;
	/*1 #f7f7f7*/
	/*2 #ededed*/
	/*3 #e6e6e6*/
}

/*project title*/
.navbar-inverse .navbar-brand {
color: #fff;
background-color:#0021A5;
}

/*buttons on nav bar*/
.navbar-inverse .navbar-nav > li > a {
color: #ccc;
background-color:#0021A5;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
color: #fff;
background-color: #0025B8;
}
.navbar-inverse .navbar-nav > .active > a{
background-color: #0025B8;
background-image: none;
}

/*.sidebar{
	position: fixed;
	max-width: 200px;
	padding:10px;
}

.workspace{
	position: relative;
	padding-left: 300px;
}*/

/*Tab body code */

.app-content {
	margin-top: 60px;
}

.app-content .app-sidebar {
	min-width: 170px;
	max-width: 200px;
	padding: 10px;
	width: 20%;
	float: left;
	/*display: inline;*/
}

.app-content .app-workspace {
	/*min-width: 700px;
	width: 80%;
	float: right;
	display: inline;*/
	position: relative;
	margin-left: 15%;
}

.view-container{
	/*float: right;
	margin-right: 35px;
	width: 1100px;
	*/
	width: 95%;
	margin-top:10px;
}

/*Code for navigation */

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
color: #fff;
background-color: #0025B8;
}

a:hover, a:focus {
color: #0021A5;
text-decoration: underline;
}
a {
color: #0021A5;
text-decoration: none;
}

/*code for edit committee page*/
.memberfunctions{
	float: left;
	padding-right: .5%;
}

.left-align{
	margin-left: -1.5%;
}

.schedule-section{
	padding-top: 560px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + span,
[type="checkbox"]:checked + span {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + span:before,
[type="checkbox"]:checked + span:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + span:after,
[type="checkbox"]:checked + span:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  font-size: 14px;
  color: #0021A5;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + span:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + span:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + span:before,
[type="checkbox"]:disabled:checked + span:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + span:after {
  color: #999;
}
[type="checkbox"]:disabled + span {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + span:before,
[type="checkbox"]:not(:checked):focus + span:before {
  border: 1px dotted blue;
}

/* hover style just for information */
span:hover:before {
  border: 1px solid #4778d9!important;
}

/* new login UI 
  body {
    padding-top: 50px;
    padding-bottom: 4x;
    background-color: #eee;
  
  }
*/ 
 
   a:hover{
	text-decoration: none;
  }
  
  .btn 
  {
   outline:0;
   border:none;
   border-top:none;
   border-bottom:none;
   border-left:none;
   border-right:none;
   box-shadow:inset 2px -3px rgba(0,0,0,0.15);
  }
  .btn:focus
  {
   outline:0;
   -webkit-outline:0;
   -moz-outline:0;
  }
  .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://training.health.ufl.edu/handouts/Templates/UF_background_orange_right_button.jpg');
    background-repeat:repeat;
  }
  .form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
      margin-top:50px;
  }
  .form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0,0,0);
    border-top:1px solid rgba(0,0,0,0.08);
  }
  .form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  }