<h1>Attendance</h1>

<!-- Took out authentication for now until implemented into database, otherwise it doesn't show-->
<!-- <div class ="sidebar">
		<ul class="nav nav-pills nav-stacked">
	  	<li><a href="#">Home</a></li>
	  	<li><a href="/#!/committee/edit">Edit Committee</a></li>
	  	<li class = "active"><a href="/#!/committee/attendance">Attendance</a></li>
	  	<li><a href="/#!/committee/schedule">Schedule</a></li>
	  	<li><a href="/#!/committee/resources">Resources</a></li>
	  	</ul>
</div>  -->
