<section data-ng-controller="CommitteesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Committee</h1>
    </div>
    <div class="col-md-12">
        <form name="articleForm" class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="committee.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && committeeForm.content.$invalid}">
                    <label class="control-label" for="content">Committee Description</label>
                    <div class="controls">
                        <textarea name="description" data-ng-model="committee.description" id="description" class="form-control" cols="30" rows="10" placeholder="Committee Description" required></textarea>
                    </div>
                    <div ng-show="submitted && committeeForm.content.$invalid" class="help-block">
                        <p ng-show="committeeForm.content.$error.required" class="text-danger">Content is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>