<!-- <section data-ng-controller="CommitteesController" data-ng-init="findOne()"> -->
<section data-ng-init="findOne()">
    
        <h1><b>Edit Committee</b></h1>
    <div class="pull-right" data-ng-show="authentication.user._id == committee.user._id">
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    
    <div class="col-md-12">
        <form name="committeeForm" class="form-horizontal" data-ng-submit="update()" novalidate>
			  <div >
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="committee.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && committeeForm.content.$invalid}">
                    <label class="control-label" for="content">Committee Description</label>
                    <div class="controls">
                        <textarea name="description" data-ng-model="committee.description" id="description" class="form-control" cols="30" rows="10" placeholder="Committee Description" required></textarea>
                    </div>
                    <div ng-show="submitted && committeeForm.content.$invalid" class="help-block">
                        <p ng-show="committeeForm.content.$error.required" class="text-danger">Content is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
			</div>

        <section>
            <form name="userForm"  data-ng-init = "getMembers()" class="form-horizontal" novalidate>
               <div class = "list-group" class = "list-group-item">
                        <h1 class = "list-group-item-text">Committee Members</h1>
                <div class="list-group"> 
                        <a data-ng-repeat="member in members"  data-ng-click = "removeMember(member)" class="list-group-item">
                        <small class="list-group-item-text">
                            <span data-ng-bind="member.displayName"></span>
                        </small> 
                    </a>
                </div>
             </div>
        </form>
        </section>
<section data-ng-controller="SchedulesController">
   
        <h1>New Schedule</h1>
     <button type="button" class="btn btn-primary" ng-click="create()">Add Schedule</button>
	  <input type="text" data-ng-model="newEvent.name" id="name" class="form-control" placeholder="Event Name" required>
	  <input type="text" data-ng-model="newEvent.startY" id="start" class="form-control" placeholder="Start Time Y" required>
	  <input type="text" data-ng-model="newEvent.startM" id="start" class="form-control" placeholder="Start Time M" required>
	  <input type="text" data-ng-model="newEvent.startD" id="start" class="form-control" placeholder="Start Time D" required>
	  <input type="text" data-ng-model="newEvent.endY" id="start" class="form-control" placeholder="End Time Y" required>
	  <input type="text" data-ng-model="newEvent.endM" id="start" class="form-control" placeholder="End Time M" required>
	  <input type="text" data-ng-model="newEvent.endD" id="start" class="form-control" placeholder="End Time D" required>
      <button type="button" class="btn btn-primary" ng-click="addNewEvent()">Add Event</button>
</section>
    <!-- <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div> -->
</section>
        <section data-ng-controller="UsersController">
            <form name="userForm" class="form-horizontal" novalidate>
                <div class="page-header">
                    <h1>Users In Database</h1>
                </div>
                <div class="list-group">
                    <a data-ng-repeat="user in users" data-ng-click = "addMember(user)" data-ng-hide = "inCommittee(user)"class="list-group-item">
                        <small class="list-group-item-text">
                            <span data-ng-bind="user.firstName | date:'medium'"></span>
                        </small>
                    </a>
                </div>
            </form>
        </section>
        </form>
        
    </div>
</section>
