<section data-ng-controller="UsersController" data-ng-if="authentication.user">
	<div>
		<div class="page-header">
	        <h1>Committees</h1>
	        <div>
	      	<a href="/#!/committees/create" data-ng-show="authentication.user.role === 'Admin'" id="createCommittee">Create Committee</a>
	        </div>
	    </div>
	    <div class="list-group">
	        <a data-ng-repeat="committee in committees" data-ng-if="viewCommittee(committee)" data-ng-href="#!/committees/{{committee._id}}" class="list-group-item">
				<h3 class="list-group-item-heading" data-ng-bind="committee.name"></h3>
				<h5 class="list-group-item-heading" data-ng-bind="committee.description"></h5>
	        </a>
	    </div>
	</div>
</section>