<section data-ng-controller = "CommitteeCtrl">
    <section data-ng-controller="MeetingsController">
        <div class="page-header">
            <h1>New Meeting</h1>
        </div>
        <div class="col-md-12">
            <form class="form-horizontal" data-ng-submit="create()" novalidate>
                <fieldset class = "left-align">
                    <div class = "width-set" ng-class="{ 'has-error': meetingForm.name.$dirty && meetingForm.name.$invalid}">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="meeting.name" data-ng-init="meeting.name=''" id="name" class="form-control" placeholder="Name">
                                <p>
                                    <label class="control-label" for="noteTaker">Note Taker</label>
                                    <select data-ng-model="noteTaker.id" id="noteTaker" class="form-control userSelect" ng-options="member._id as member.firstName for member in members"></select><br>
                                </p>
                        </div>
                    </div>
                    <!-- > Code for Date Picker Popup </!-->
					<div class = "width-set datepicker">
					   <label class="control-label" for="name">Date</label>
						    <p class="input-group">
						        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
						    </p>

					</div>
                    <!-- > End of Code for Date Picker Popup </! -->		

                    <div class = "submitButton">
                        <input type="submit" class="btn btn-blue">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>

					<div class = "timepicker">
						<label class="control-label" for="name">Start Time</label>
					       <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
		
						<label class="control-label" for="name">End Time</label>
					       <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
				    </div>
                    
                </fieldset>
            </form>
        </div>			
    </section>
</section>