<section data-ng-controller="CommitteeCtrl">
	<section data-ng-controller="MeetingsController">
		<div class="page-header">
			<h1 data-ng-bind="meeting.name"></h1>
		</div>
		<div class="pull-right" data-ng-show="authentication.user._id == meeting.user._id">
			<a class="btn btn-primary" href="/#!/meetings/{{meeting._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<div>
	   		<div>Agenda Items</div>
			<div data-ng-repeat="item in meeting.agendaItems">
				<label class="agendalabel">
					<span data-ng-bind="item.name"></span>
				</label>
			</div>
	   	</div>
		<div data-ng-if="authentication.user._id == committee.chair">
			<section>
		        <form name="meetingForm" class="form-horizontal" novalidate>
					<div class = "list-group" class = "list-group-item">
						<h1 class = "list-group-item-text">Notetaker</h1>
						<div class="list-group"> 
							<a class="list-group-item">
								<small class="list-group-item-text">
									<span data-ng-bind="noteTaker.displayName"></span>
								</small> 
							</a>
						</div>
				    </div>
				</form>
		   	</section>
		   	<div>
		   		<div>
			   		<div>
			   			<span class="memberspresent">Members Present: </span>
						<span data-ng-bind="meeting.membersPresent"></span>
			   		</span>
			   		<br>
			   		<div>
			   			<span>Total members: </span>
			   			<span data-ng-bind="meeting.members.length"></span>
			   		</div>
			   	</div>
			   	<br>
			   	<div>
					<div data-ng-show="meeting.members.length">Take Attendance</div>
					<div data-ng-repeat="member in meeting.members">
						<label class="memberlabel">
							<input type="checkbox" data-ng-model="member.isPresent" data-ng-change="checkMembersPresent(member.isPresent)">
							<span data-ng-bind="member.displayName"></span>
						</label>
					</div>
					<br>
					<div>
						<div>
							<button class="btn btn-primary" data-ng-click="saveAttendance()">Save Attendance</button>
						</div>
						<br>
						<div data-ng-bind="saveMessage"></div>
					</div>
				</div>
		   	</div>
		   	<div>
		   		<div>Agenda Items to Add</div>
				<div data-ng-repeat="item in committee.agendaItems">
					<label class="agendalabel">
						<input type="checkbox" data-ng-model="item.inMeeting">
						<span data-ng-bind="item.name"></span>
					</label>
				</div>
				<div>
					<button class="btn btn-primary" data-ng-click="saveAgendaItems()">Save Agenda Items</button>
				</div>
		   	</div>
		</div>
	   	<div data-ng-show = "authentication.user._id == meeting.noteTaker">
			<form name="meetingForm" class="form-horizontal" data-ng-submit="updateMeeting(meetingForm.$valid)" novalidate>
				<fieldset>
					<div ng-class="{ 'has-error' : submitted && meetingForm.notes.$invalid}">
						<label class="control-label" for="notes">Notes</label>
						<div class="controls">
							<textarea name="notes"></textarea>
						</div>
						<div ng-show="submitted && meetingForm.notes.$invalid" class="help-block">
							<p ng-show="meetingForm.notes.$error.required" class="text-danger">Content is required</p>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" value="Update" class="btn btn-default">
					</div>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</section>

</section>
