{% extends 'layout.server.view.html' %}

{% block content %}
	<section data-ui-view></section>
	<script type="text/javascript" src="../../public/lib/jquery/jquery.js"></script>
<script type="text/javascript" src="../../public/lib/jquery-ui/ui/jquery-ui.js"></script>
<script type="text/javascript" src="../../public/lib/angular/angular.js"></script>
<script type="text/javascript" src="../../public/lib/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="../../public/lib/fullcalendar/fullcalendar.js"></script>
<script type="text/javascript" src="../../public/lib/fullcalendar/gcal.js"></script>
{% endblock %}
